.pageHeader {background-color:#f4f4f4; color: #000000}
.redBox {background-color:#ff0000; color: #ffffff;}
.lightgrayBox {background-color: #999999; color: #FFFFFF;}
.darkgrayBox {background-color: #666666; color:#FFFFFF;}
.grayBox {background-color: #333333, color: #ffffff;}
.yellowBox {background-color:#cfa339; color: #FFFFFF;}
.purpleBox {background-color: #55148C; color: #FFFFFF;}
.cyanBox {background-color: #376d6a; color: #FFFFFF;}
.blackBox {background-color: #000000; color: #FFFFFF;}
.greenBox {background-color: #008000; color: #FFFFFF}
.pinkBox {background-color: #ff66cc; color: #ffffff;}
.brownBox {background-color: #7b3f00; color: #ffffff;}
.salmonBox {background-color: #FF5733; color: #FFFFFF;}
.blueBox {background-color: #33A2FF; color: #FFFFFF}
.burgundyBox {background-color: #5E1769; color: #FFFFFF}
.almostlilacBox {background-color: #775f66; color: #FFFFFF}
.sageBox {background-color: #93A496; color: #FFFFFF}