h2 {
  font-size: 50px;
}

.header {
  background-color: #D8F3DC;
  padding: 20px; text-align: center;
  font-size: 20px;
}

.navigation {
    text-align: center;
    padding: 15px;
}

.navigation a {
    background-color: #A5D6A7;
    color: #000000;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
}

.Intro {
  background-color: #d5dfed; 
  padding: 20px; font-size: 20px; 
  text-align: center;
}

.facts {
  background-color: #F1F1F1; 
  padding: 20px; 
  font-size: 45px; 
  display: block;
}

h2 {
  font-size: 50px;
}
ol {
  list-style-position: inside;
  text-align: center;
  padding-left: 0;
}

.facts img {
  width: 1000px; height: auto;
}
.links {
  background-color: #FFF3CD; 
  padding: 20px; font-size: 20px; 
  text-align: center;
}

.links a {
    background-color: #fff5ad;
    color: #000000;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
}


.video {
  background-color: #D6EAF8; 
  padding: 20px; 
  text-align: center; 
  font-size: 25px;

}

.gallery img {
  display: block;
  width: 1000px;
  Height: auto;
  margin: auto;
}
